.header {
	/*border: solid 1px;*/


}

.nav {
	/*border: px solid red;*/

}

.lista {

	/*border: 2px solid
	blue;*/
	text-align: right;
}

li {
	/*background-color: red;*/
	color: black;
	width: 200px;
	height: 30;
	/*border:solid 1px;*/
	list-style: none;
	display: 
	   inline-block;
	   margin-right: 80px;
}

a {font-size: 1.5rem;
font-family: helvetica;
text-decoration: none;
color: black
}